@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* BREAKPOINTS */
	--breakpoint-xs: 575px;
	/* FONTS */
	--font-montserrat: 'Montserrat', sans-serif;
	--font-josefin-sans: 'Josefin Sans', sans-serif;

	/* COLORS */
	--color-mine-shaft: #202020;
	--color-cinder: #09070c;
	--color-silver: #c5c5c5;
	--color-crimson: #ea1538;
	--color-blue-gem: #4e13bb;
	--color-valencia: #d34446;
	--color-html: #ff6d00;

	/* ANIMATION */
	--animate-run: run 15s 0s infinite forwards
		cubic-bezier(0.49, 0.01, 0.43, 0.97);
	--animate-show-line: show-line 700ms ease-in-out 0s forwards;
	--animate-loader-line: loader-line 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
	--animate-blinked: blinked 1s infinite;

	/* KEYFRAMES */

	@keyframes run {
		0% {
			top: -50%;
		}

		100% {
			top: 110%;
		}
	}

	@keyframes lineheight {
		0% {
			height: 0%;
		}

		100% {
			height: 100%;
		}
	}

	@keyframes lineround {
		0% {
			transform: translateY(-100%);
		}

		100% {
			transform: translateY(200%);
		}
	}

	@keyframes show-line {
		0% {
			width: 0;
			opacity: 0;
		}

		100% {
			width: 100%;
			opacity: 1;
		}
	}

	@keyframes loader-line {
		0% {
			left: -100%;
		}

		100% {
			left: 100%;
		}
	}

	@keyframes blinked {
		0% {
			background-color: tw(--color-cinder);
			color: tw(--color-silver);
		}
		50% {
			background-color: rgba(255, 255, 255, 0.2);
		}
		100% {
			background-color: tw(--color-cinder);
			color: tw(--color-silver);
		}
	}
}

@layer base {
	html {
		@media (prefers-color-scheme: dark) {
			color-scheme: dark;
		}
	}

	html,
	body {
		@apply m-0 h-full p-0;
	}

	body {
		@apply dark:bg-mine-shaft dark:text-silver font-josefin-sans bg-white text-sm/none text-black transition-colors duration-300;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply dark:text-silver m-0 font-bold text-black transition-colors duration-100;
	}

	button {
		@apply cursor-pointer;
	}
}

@layer utilities {
	.container {
		@apply relative mx-auto flex h-full max-w-[1248px] flex-col px-[0.625rem] lg:px-14;
	}
}

@layer components {
	.line {
		@apply after:animate-run absolute top-0 left-1/2 h-full w-[0.0625rem] overflow-hidden bg-black/10 transition-colors after:absolute after:left-0 after:block after:h-[15vh] after:w-full after:bg-linear-to-b after:from-black/0 after:via-black/75 after:to-black dark:bg-white/10 dark:after:from-white/0 dark:after:via-white/75 dark:after:to-white;
	}
}

@utility animation-delay-* {
	animation-delay: --value(integer) ms;
}

@utility scrollbar {
	&::-webkit-scrollbar {
		width: 0.3125rem;
		height: 0.3125rem;
	}

	&::-webkit-scrollbar-track {
		@apply bg-silver rounded-md;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-crimson rounded-md;
	}
}
